@import url('https://fonts.googleapis.com/css?family=Average+Sans|Roboto:400,500,700,900|Montserrat:400,500,600,700');

body {
    font-family: 'Roboto' !important;
    background-color: #F2FBFA !important;
}
/*--------------------------------- base.html ---------------------------------*/

.bg-green {
    background-color: #62a5a1;
}

.navbar-nav {
    float: right;
}

.cb-brand {
    color: #fafafa !important;
    font-family: Montserrat;
    letter-spacing: 1px;
}

.nav-i {
    font-family: Montserrat;
    color: #fafafa !important;
}
/*------------------------------ readrecipe.html ------------------------------*/
.inline-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.recipe-details {
    float: left;
    padding: 10px;
    font-family: 'Average';
    font-size: 16px;
    
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.recipe-title-center {
    text-align: center;
    font-family: 'Roboto';
}

.glip {
    padding-right: 5px;
    
}

/*------------------------------ addrecipes.html ------------------------------*/


.btn-add {
    margin-bottom: 20px;
    margin-top: 20px;
}

.add-recipe-title {
    padding-bottom: 20px;
}

.fg {
    max-width: 60%;
}

.wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add-recipe-form {
    padding-top: 30px;
}

/*------------------------------ myrecipes.html ------------------------------*/
.my-recipes-title {
    padding-top: 30px;
    font-size: 22px;
}

.card-title {
    color: #4D6595;
}

.btn-card {
    background-color: #768BB4;
    color: white;
}

.recipe-info {
    color: black;
    margin-top: 10px;
    margin-bottom: 30px;
}

a .align-icon {
    color: #408A85;
    padding-top: 33px;
    padding-left: 9px;
    font-size: 20px;
}

.cat-row {
    padding-bottom: 20px;
}

.card-item {
    padding-bottom: 10px;
}

.icons-info {
    border-top: 1px solid;
}

.card-info {
    border-radius: 0 !important;
    border-color: #408A85 !important;
}

.glip1 {
    margin-left: 5px;
}

@media (max-width: 991px){
    .card-item {
        
    }
}