@import url('https://fonts.googleapis.com/css?family=Average+Sans|Roboto:400,500,700,900');

body {
    font-family: 'Roboto' !important;
    background-color: #edeeef !important;
}

/*------------------------------ readrecipe.html ------------------------------*/
.inline-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fafafa;
    
}

.recipe-details {
    float: left;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Average';
    font-size: 15px;
}

.recipe-title-center {
    text-align: center;
    font-family: 'Roboto';
}

.glip {
    padding-right: 5px;
    
}

/*------------------------------ addrecipes.html ------------------------------*/


.btn-add {
    margin-bottom: 20px;
    margin-top: 20px;
}

.add-recipe-title {
    padding-bottom: 20px;
}

.fg {
    max-width: 60%;
}

.wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*------------------------------ myrecipes.html ------------------------------*/
.my-recipes-title {
    padding-bottom: 30px;
}

/*
.add-icon {
    font-size: 30px;
    color: #62a5a1;
    position: relative;
    top: -68px;
    left: -481px;
}*/