{% extends 'base.html' %}{% block content %}
<h3 class="recipe-title">Dinner</h3>
<div class="row">
{% for recipe in recipes %} 
    <div class="col-lg-12">
        <div class="card-group">
            <div class="card-item">
              <div class="card" id="card-info">
                <div class="card-body d-flex flex-column">
                  <a class="link-recipe" href="{{url_for('read_recipe', recipe_id=recipe._id)}}">
                  <h5 class="card-title" style="text-align: center">{{ recipe.recipe_name}}</h5>
                  </a> 
                </div>  
              </div>
            </div>
        </div>
    </div>
  {% endfor %}  
</div>
{% endblock %}