{% extends 'base.html' %}{% block content %}
<h3 class="recipe-title">Dinner</h3>
<div class="row">
{% for recipe in recipes %} 
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card-group">
        <a class="link-recipe" href="{{url_for('read_recipe', recipe_id=recipe._id)}}">
          <div class="card-item">
            <div class="card text-center bg-light mb-3 border-secondary" id="card-info">
              <div class="card-body card-hover">
                  <h5 class="card-title">{{ recipe.recipe_name}}</h5>
              </div>  
            </div>
          </div>
        </a> 
      </div>
    </div>
  {% endfor %}  
</div>
{% endblock %}