{% extends 'base.html' %}{% block content %}

<div class="row">
        <div class="col-sm-4 center-form">
            <form method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username" id="username">
                </div>
                <button type="submit" class="btn btn-block" id="btn-form">Log In</button>
            </form>
            <br>
        </div>
    </div>
    
{% endblock %}

