{% extends 'base.html' %} {% block content %}
<div class="row">
  <h3 class="recipe-title">My recipes</h3> 
</div>
<div class="row">
{% for recipe in recipes %} 
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card-group">
            <div class="card-item">
              <div class="card text-center bg-light mb-3" style="width: 12.5rem; height: 7rem;" id="card-info">
                <div class="card-body">
                  <a class="link-recipe" href="{{url_for('read_recipe', recipe_id=recipe._id)}}">
                  <h5 class="card-title" style="text-align: center">{{ recipe.recipe_name}}</h5>
                  </a> 
                </div>  
              </div>
            </div>
        </div>
    </div>
  {% endfor %}  
</div>
{% endblock %}